
@import url(common.css);

aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  border-right: 1px solid var(--light-grey);
  overflow: auto;
}
iframe {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc(100vw - 300px);
}
h1 {
  font-family: var(--h-font);
  font-size: 2rem;
  color: var(--green-500);
  margin: 1rem 0 0 0;
  padding: 0 1rem;
  line-height: 1;
}
ul {
  padding-left: calc(1rem + 1ch);
}
li {
  padding-left: 1ch;
}
li::marker {
  content: '»';
  color: var(--light-grey);
}
li a {
  text-decoration: none;
  color: var(--sky-500);
}
