
@import url(common.css);

html {
  background: var(--arena-bg);
}
main {
  margin: 0 auto;
  width: 800px;
}
h1 {
  font-family: var(--h-font);
  font-size: 2rem;
}
sl-card::part(base) {
  background: #fff;
  box-shadow: var(--sl-shadow-medium);
}
