
#pick-intent {
  min-width: 550px;
}
#random-site [slot='header'],
#pick-intent [slot='header'] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#random-site [slot='header'] img,
#pick-intent [slot='header'] img {
  vertical-align: middle;
}
#random-site::part(body),
#pick-intent::part(body) {
  padding: 0;
  max-height: 400px;
  overflow: auto;
}
#pick-intent sl-icon-button {
  font-size: var(--sl-font-size-medium);
}

#cat-pics {
  padding: 0 1rem;
}
#cat-pics h2 {
  font-family: var(--h-font);
  color: darkorange;
  margin: 0;
  -webkit-text-stroke: 1px #000;
  font-size: 2rem;
}
#cat-pics p {
  font-size: 0.8rem;
  margin-top: 0;
}
#cat-pics ul {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
}
#cat-pics li {
  display: block;
  list-style-type: none;
}

#random-site {
  max-width: 350px;
}
#random-site::part(body) {
  background: #000;
  color: fuchsia;
  text-align: center;
}
#random-place h2 {
  letter-spacing: 0.1rem;
}
#random-place .bordered {
  border: 5px groove fuchsia;
  border-radius: 5px;
  width: min-content;
  margin: 0 auto 2rem auto;
}
